.row{
    margin-left: 4vw;
    position: relative;
    z-index: 9;
    top: -15vw;
    overflow: hidden;
}

.row_title {
    font-size: 1.3vw;
    letter-spacing: 0.8px;
    user-select: none;
}

.row_posters {
    display: flex;
    /* overflow-y: hidden;
    overflow-x: scroll; */
    padding-top: 20px;
    padding-bottom: 50px;
    transition: all 0.6s ease;
}
/*fix this*/
/* .row_posters::-webkit-scrollbar {
    display: none;
} */

.row_posters img {
    border-radius: 4px;
}

.row_poster {
    width: 100%;
    max-height: 9vw;
    object-fit: contain;
    transition: transform 450ms;
    margin-right: 10px;
    user-select: none;
}


.row_posterLarge{
    max-height: 18vw;
    position: relative;
}

.row_poster:hover{
    transform: scale(1.6);
    cursor: pointer;
}

.row_posterLarge:hover{
    cursor: pointer;
    transform: scale(1.4);
    z-index: 20;
}

/* .row_posterLarge:hover ~ .row_posterLarge {
    transform: translateX(22%);
} */

.movie_row_name {
    display: none;
}

.slider {
    position: absolute;
    /* background-color: rgba(22, 22, 22, 0.5); */
    /* background-image: linear-gradient(to right,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 15%,rgba(20,20,20,.35) 29%,rgba(20,20,20,.58) 44%,#141414 68%,#141414 100%); */
    top: 0;
    bottom: 0;
    cursor: pointer;
    margin: auto;
    z-index: 99;
}

.left {
    left: 0;
    background-image: linear-gradient(to left,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 15%,rgba(20,20,20,.35) 29%,rgba(20,20,20,.45) 44%,rgba(20, 20, 20, 0.5) 100%);

}
.right {
    right: 0;
    background-image: linear-gradient(to right,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 15%,rgba(20,20,20,.35) 29%,rgba(20,20,20,.45) 44%,rgba(20, 20, 20, 0.5) 100%);

}