.row{
    padding-left: 4vw;
    position: relative;
    z-index: 9;
    top: -15vw;
    /* overflow-x: hidden; */
    /* width: 100%; */
    /* left: -10vw; */
}

.row_title {
    font-size: 1.3vw;
    letter-spacing: 0.8px;
    user-select: none;
}

.row_posters {
    /* display: flex; */
    /* overflow-y: hidden;
    overflow-x: scroll; */
    margin-top: 20px;
    margin-bottom: 50px;
    /* transition: all 0.5s ; */
    display: inline-flex;
    gap: 0.5vw;
    position: relative;
    width: fit-content;
    /* height: 18vw; */
}


.movie_row_name {
    display: none;
}

.slider {
    position: absolute;
    /* background-color: rgba(22, 22, 22, 0.5); */
    /* background-image: linear-gradient(to right,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 15%,rgba(20,20,20,.35) 29%,rgba(20,20,20,.58) 44%,#141414 68%,#141414 100%); */
    top: 0;
    bottom: 0;
    cursor: pointer;
    margin: auto;
    z-index: 80;

}

.right:hover,
.left:hover {
    transform: scale(1.2);
    transition: transform 0.3s;

}

.left {
    position: absolute;
    z-index: 50;
    left: 0.1vw;
    /* background-image: linear-gradient(to left,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 15%,rgba(20,20,20,.35) 29%,rgba(20,20,20,.45) 44%,rgba(20, 20, 20, 0.5) 100%); */
}

.right {
    right: 4.05vw;
   
}

.right-layer {
    right: 0;
    height: 18.5vw;
    width: 7.5vw;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-image: linear-gradient(to right,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 15%,rgba(20,20,20,.35) 29%,rgba(20,20,20,.45) 44%,rgba(20, 20, 20, 0.5) 100%);

}

.left-layer {
    z-index: 20;
    left: 0;
    height: 18.3vw;
    width: 3.7vw;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    /* background-image: linear-gradient(to left,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 15%,rgba(20,20,20,.35) 29%,rgba(20,20,20,.45) 44%,rgba(20, 20, 20, 0.5) 100%); */
}