@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}

.banner{
    color: #fff;
    /* object-fit: contain; */
    height: 55vw;
    /* background-position: center; */
    user-select: none;
    /* background-size: cover; */
    position: relative;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.banner_left_cover {
    background: linear-gradient(
77deg
,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 85%);
    position: absolute;
    top: 0;
    left: 0;
    right: 26.09%;
    bottom: 0;
    opacity: 1;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}

.banner_right_cover {
    /* background:red; */
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.banner_bottom_cover {
    background-image: linear-gradient(to bottom,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 15%,rgba(20,20,20,.35) 29%,rgba(20,20,20,.58) 44%,#141414 68%,#141414 100%);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    background-position: 0 top;
    background-repeat: repeat-x;
    background-color: transparent;
    width: 100%;
    height: 14.7vw;
    top: auto;
    bottom: -1px;
    opacity: 1;
    /* z-index: 8; */
    position: absolute;
    left: 0;
    right: 0;
}



.banner_content {
    margin-left: 4vw;
    position: absolute;
    top: 36%;
    width: 35%;
    z-index: 99;
}

.banner_title {
    width: max-content;
    font-size: 3vw;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

.banner_description {
    font-weight: 400;
    line-height: normal;
    width: 100%;
    font-size: 1.4vw;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
    margin-top: 15px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}

.banner_btns {
    display: flex;
}

.banner_btns-right {
    cursor: pointer;
    border-radius: 50%;
    padding: 5px 5px 2px 5px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 60%;
    right: 6vw;
    z-index: 99;
    filter: drop-shadow(0px 0px 2.6px rgb(0 0 0 / 1));

}

.banner_btns-right:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.banner_btn{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-right: 0.6vw;
    border: 0;
    border-radius :4px;
    /* padding: 0.7vw 1.5vw;
     */
    padding: 0.3vw 1.6vw;
    user-select: none;
    cursor: pointer;
    font-size: 1.3vw;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play_btn {
    background-color: #FFFFFF;
    color: #000000;
}


.play_btn:hover {
    background-color: rgba(255, 255, 255, 0.685);
    /* color: rgba(0, 0, 0, 0.7); */
}

.info_btn {
    background-color: rgba(109, 109, 110, 0.7);
    color: #fff;
}

.info_btn:hover {
    background-color: rgba(109, 109, 110, 0.5);
    /* color: rgba(255, 255, 255, 0.7); */
}

.embed-youtube {
    overflow: hidden;
}

.banner-youtube {
    opacity: 0; 
    animation: fadein 1s; 
    animation-delay: 0.9s;
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards; 
    -ms-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;  
}

@keyframes fadein { 
    from { opacity: 0; } 
    to { opacity: 1;} 
}
